---
import { Image } from "astro:assets";

import BabyInChair from "../assets/images/babyc/chair.png";
import BabyExtremeCloseUp from "../assets/images/babyc/extremecloseup.png";
import FierceBaby from "../assets/images/babyc/fierce.png";
import BabyInHat from "../assets/images/babyc/hat.png";
import BabyInTheSun from "../assets/images/babyc/inthesun.png";
import BabyNesting from "../assets/images/babyc/nesting.png";
import BabyPosing from "../assets/images/babyc/posing.png";
import TheBestBaby from "../assets/images/babyc/thebestbaby.png";
---

<script>
    /*
        See source for this example: https://web.dev/articles/css-scroll-snap#example_a_horizontal_gallery
    */

    const carousel = document.querySelector(".carousel");
    const slides = carousel?.querySelector(".slides");

    if (!carousel || !slides) {
        throw new Error("Carousel or slides not found");
    }

    const numSlides = slides.querySelectorAll(".slide").length;

    // recalculate scrollwidth so up to date for calculations
    // prevents infinite scroll breaking due to window resizing
    const scrollWidth = () => slides.clientWidth;

    // For paginated scrolling, simply scroll the gallery one item in the given
    // direction and let css scroll snapping handle the specific alignment.
    function scrollToNext() {
        if (!slides) {
            return;
        }

        const w = scrollWidth();

        /*
            TODO Figure out why scrollLeft sometimes exceeds amount scrolled
            Unclear why, but on refactoring the carousel (relocating buttons,
            adjusting margin and padding and max-width, adding image border radius), the carousel
            would semi-randomly stop scrolling back to the beginning due to scrollLeft
            being 1px greater than w * numslides - w. Whole lot of spacing-related changes
            made, plenty of culprits, max-width being the most promising, since this
            isn't an issue on mobile views and that rule's applied only above the medium breakpoint
        */
        if (slides.scrollLeft >= w * numSlides - w) {
            slides.scrollBy(-w * numSlides, 0);
        } else {
            slides.scrollBy(w, 0);
        }
    }
    function scrollToPrevious() {
        if (!slides) {
            return;
        }

        const w = scrollWidth();

        if (slides.scrollLeft === 0) {
            slides.scrollBy(w * numSlides, 0);
        } else {
            slides.scrollBy(-w, 0);
        }
    }

    const nextButtons = carousel.querySelectorAll("button.next");

    for (const btn of nextButtons) {
        btn.addEventListener("click", scrollToNext);
    }

    const previousButtons = carousel.querySelectorAll("button.previous");

    for (const btn of previousButtons) {
        btn.addEventListener("click", scrollToPrevious);
    }
</script>

<style>
    .carousel {
        background-color: var(--color-accent-100);
        border-radius: var(--spacing-half-px);
        padding-top: var(--spacing-one-rem);
    }

    .carousel-content {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    button {
        /* resets */

        background-color: transparent;
        border-width: 0;
        padding: 0;
        border-style: solid;

        /* end resets */

        width: 0;
        height: 0;
        cursor: pointer;
        border-color: var(--color-accent-700);
        border-top-width: var(--spacing-onedotfive-px);
        border-top-color: transparent;
        border-bottom-width: var(--spacing-onedotfive-px);
        border-bottom-color: transparent;

        &.previous {
            border-right-width: var(--spacing-three-px);
            margin-left: var(--spacing-two-px);

            &:hover,
            &:active {
                border-right-color: var(--color-accent-800);
            }
        }

        &.next {
            border-left-width: var(--spacing-three-px);
            margin-right: var(--spacing-two-px);

            &:hover,
            &:active {
                border-left-color: var(--color-accent-800);
            }
        }

        &.desktop {
            display: none;
        }
    }

    .control-panel {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-six-px);
        width: fit-content;
        margin: 0 auto;
        padding-top: var(--spacing-two-rem);
        padding-bottom: var(--spacing-two-rem);
    }

    .slides {
        overflow: hidden;
        display: flex;
        scroll-snap-type: x mandatory;

        /* TODO Review / recall Comeau's image placement work */
        > .slide {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            scroll-snap-align: center;
            width: 100%;

            > img {
                border: var(--spacing-half-px) outset var(--color-accent-600);
                border-radius: var(--spacing-half-px);
            }
        }
    }

    @media (min-width: 40rem) {
        .carousel {
            padding-top: var(--spacing-three-rem);
        }
    }

    @media (min-width: 88rem) {
        .carousel {
            padding-bottom: var(--spacing-three-rem);
        }

        .carousel-content {
            flex-direction: row;
            align-items: center;
            gap: var(--spacing-two-rem);
        }

        .slides {
            flex: 1;
        }

        .control-panel {
            display: none;
        }

        button.desktop {
            display: initial;
        }
    }
</style>

<div class="carousel">
    <div class="carousel-content">
        <button
            aria-label="Scroll to previous image"
            class="desktop previous"
            type="button"
        ></button>
        <div class="slides">
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <!-- Omit loading="lazy" on first image in carousel, likely LCP candidate-->
                <Image
                    alt="Cece the cat, looking very picturesque on a foot rest"
                    loading="eager"
                    src={TheBestBaby}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, posing on a blanket"
                    src={BabyPosing}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, posing on a footrest"
                    src={BabyInChair}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, extreme close-up"
                    src={BabyExtremeCloseUp}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, looking very dramatic and stylish"
                    src={FierceBaby}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, lying in the sun"
                    src={BabyInTheSun}
                    width="300"
                />
            </div>
            <div class="slide">
                <!-- original image dimensions: 3024 x 4032, aspect ratio preserved in hardcoding below -->
                <Image
                    alt="Cece the cat, in a little blanket nest on my chair"
                    src={BabyNesting}
                    width="300"
                />
            </div>
            <div class="slide">
                <Image
                    alt="Cece the cat, wearing a fancy hat"
                    src={BabyInHat}
                    width="300"
                />
            </div>
        </div>
        <button
            aria-label="Scroll to next image"
            class="desktop next"
            type="button"
        ></button>
        <div class="control-panel">
            <button
                aria-label="Scroll to previous image"
                class="previous"
                type="button"
            ></button>
            <button
                aria-label="Scroll to next image"
                class="next"
                type="button"
            ></button>
        </div>
    </div>
</div>
